.data .rapper {
    text-align: center;
}

.custom_tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons_tools{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}